@import "src/@fuse/scss/fuse";

users {
    #users {
        .top-bg {
            @include media-breakpoint("lt-md") {
                height: 256px;
            }
            .checkbox {
                margin-bottom: 20px;
            }
        }

        > .center {
            > .header {
                @include media-breakpoint("lt-md") {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }
}
#users {
    .content {
        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }
        .mat-tab-label {
            height: 64px;
        }
        .user-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }
        .checkbox {
            margin-bottom: 20px;
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }
}
