<div id="passwordChange" fxLayout="column">
    <div
        id="passwordChange-form-wrapper"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div
            id="passwordChange-form"
            [@animate]="{
                value: '*',
                params: { duration: '300ms', y: '100px' }
            }"
        >
            <form name="passwordChangeForm" [formGroup]="passwordChangeForm">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>{{
                            "PASSWORD.NEWPASSWORD" | translate
                        }}</mat-label>
                        <input
                            name="NewPassword"
                            formControlName="NewPassword"
                            matInput
                            [type]="newPassword ? 'text' : 'password'"
                        />
                        <mat-icon matSuffix (click)="visibilityNewPassword()">{{
                            newPassword ? "visibility_off" : "visibility"
                        }}</mat-icon>
                        <mat-error>
                            {{ "PASSWORD.ENTERREQUIRED" | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>{{
                            "PASSWORD.NEWPASSWORD2" | translate
                        }}</mat-label>

                        <input
                            name="NewPassword2"
                            formControlName="NewPassword2"
                            matInput
                            [type]="newPassword2 ? 'text' : 'password'"
                        />
                        <mat-icon
                            matSuffix
                            (click)="visibilityNewPassword2()"
                            >{{
                                newPassword2 ? "visibility_off" : "visibility"
                            }}</mat-icon
                        >
                        <mat-error>
                            {{ "PASSWORD.ENTERPASSWORD" | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <button
                    style="margin-left: -7px"
                    mat-raised-button
                    color="accent"
                    class="submit-button"
                    [disabled]="passwordChangeForm.invalid"
                    (click)="ForceChangePassword()"
                >
                    {{ "PASSWORD.CHANGE" | translate }}
                </button>
            </form>
        </div>
    </div>
</div>
