<div
    id="verifyArqcAndGenerateArpc"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "VERIFYARQC.VERIFYARQCANDGENERATEARPC" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="verifyArqcAndGenerateArpcForm"
                    [formGroup]="verifyArqcAndGenerateArpcForm"
                    class="verifyArqcAndGenerateArpc w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab
                            label="{{
                                'VERIFYARQC.VERIFYARQCANDGENERATEARPCINFO'
                                    | translate
                            }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "VERIFYARQC.ACUNDERLMK" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'VERIFYARQC.ACUNDERLMK'
                                                    | translate
                                            }}"
                                            name="AcUnderLmk"
                                            formControlName="AcUnderLmk"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "VERIFYARQC.CARDNUMBER" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'VERIFYARQC.CARDNUMBER'
                                                    | translate
                                            }}"
                                            name="CardNumber"
                                            formControlName="CardNumber"
                                            (input)="formatCardNumber()"
                                        />
                                        <mat-icon matSuffix>
                                            <img
                                                style="height: 17px"
                                                src=""
                                                [src]="getCardTypeIcon()"
                                            />
                                        </mat-icon>
                                        <mat-error
                                            *ngIf="
                                                verifyArqcAndGenerateArpcForm.get(
                                                    'CardNumber'
                                                ).errors?.pattern
                                            "
                                        >
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "VERIFYARQC.PANSEQUENCENUMBER"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'VERIFYARQC.PANSEQUENCENUMBER'
                                                    | translate
                                            }}"
                                            name="PanSequenceNumber"
                                            formControlName="PanSequenceNumber"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "VERIFYARQC.ARC" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'VERIFYARQC.ARC' | translate
                                            }}"
                                            name="Arc"
                                            formControlName="Arc"
                                        />
                                    </mat-form-field>
                                </div>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "VERIFYARQC.EMVDATA" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'VERIFYARQC.EMVDATA' | translate
                                            }}"
                                            name="EmvData"
                                            formControlName="EmvData"
                                        />
                                    </mat-form-field>
                                </div>
                                <button
                                    style="margin-right: 10px"
                                    mat-raised-button
                                    class="save-verifyArqcAndGenerateArpc-button"
                                    (click)="ClearButton()"
                                >
                                    <span>{{
                                        "VERIFYARQC.CLEAR" | translate
                                    }}</span>
                                </button>
                                <button
                                    mat-raised-button
                                    class="save-verifyArqcAndGenerateArpc-button"
                                    (click)="VerifyArqcAndGenerateArpcButton()"
                                >
                                    <span>{{
                                        "VERIFYARQC.VERIFYARQC1" | translate
                                    }}</span>
                                </button>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                    style="margin-top: 60px"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "VERIFYARQC.HSMERRORCODE"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'VERIFYARQC.HSMERRORCODE'
                                                    | translate
                                            }}"
                                            name="HsmErrorCode"
                                            formControlName="HsmErrorCode"
                                            [(ngModel)]="generateHsmErrorCode"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "VERIFYARQC.HSMERRORDESCRIPTION"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'VERIFYARQC.HSMERRORDESCRIPTION'
                                                    | translate
                                            }}"
                                            name="HsmErrorDescription"
                                            formControlName="HsmErrorDescription"
                                            [(ngModel)]="
                                                generateHsmErrorDescription
                                            "
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "VERIFYARQC.ARPCDATA" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'VERIFYARQC.ARPCDATA'
                                                    | translate
                                            }}"
                                            name="ArpcData"
                                            formControlName="ArpcData"
                                            [(ngModel)]="hsmArpcData"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
