<div
    id="translateZpkLmkToZpkZmk"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "TRANSLATEZPKLMK.TRANSLATEZPKLMKTOZPKZMK" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="translateZpkLmkToZpkZmkForm"
                    [formGroup]="translateZpkLmkToZpkZmkForm"
                    class="translateZpkLmkToZpkZmk w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab
                            label="{{
                                'TRANSLATEZPKLMK.TRANSLATEZPKLMKTOZPKZMKINFO'
                                    | translate
                            }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZPKLMK.ZMKUNDERLMK"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZPKLMK.ZMKUNDERLMK'
                                                    | translate
                                            }}"
                                            name="ZmkUnderLmk"
                                            formControlName="ZmkUnderLmk"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZPKLMK.ZPKUNDERLMK"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZPKLMK.ZPKUNDERLMK'
                                                    | translate
                                            }}"
                                            name="ZpkUnderLmk"
                                            formControlName="ZpkUnderLmk"
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZPKLMK.ATALLAVARIANT"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZPKLMK.ATALLAVARIANT'
                                                    | translate
                                            }}"
                                            name="AtallaVariant"
                                            formControlName="AtallaVariant"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZPKLMK.LMKIDENTIFIER"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZPKLMK.LMKIDENTIFIER'
                                                    | translate
                                            }}"
                                            name="LmkIdentifier"
                                            formControlName="LmkIdentifier"
                                        />
                                    </mat-form-field>
                                </div>

                                <button
                                    style="margin-right: 10px"
                                    mat-raised-button
                                    class="save-translateZpkLmkToZpkZmk-button"
                                    (click)="ClearButton()"
                                >
                                    <span>{{
                                        "TRANSLATEZPKLMK.CLEAR" | translate
                                    }}</span>
                                </button>
                                <button
                                    mat-raised-button
                                    class="save-translateZpkLmkToZpkZmk-button"
                                    (click)="TranslateZpkLmkToZpkZmkButton()"
                                >
                                    <span>{{
                                        "TRANSLATEZPKLMK.TRANSLATEZPKLMK1"
                                            | translate
                                    }}</span>
                                </button>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                    style="margin-top: 60px"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZPKLMK.HSMERRORCODE"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZPKLMK.HSMERRORCODE'
                                                    | translate
                                            }}"
                                            name="HsmErrorCode"
                                            formControlName="HsmErrorCode"
                                            [(ngModel)]="generateHsmErrorCode"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZPKLMK.HSMERRORDESCRIPTION"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZPKLMK.HSMERRORDESCRIPTION'
                                                    | translate
                                            }}"
                                            name="HsmErrorDescription"
                                            formControlName="HsmErrorDescription"
                                            [(ngModel)]="
                                                generateHsmErrorDescription
                                            "
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZPKLMK.ZPKUNDERZMK"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZPKLMK.ZPKUNDERZMK'
                                                    | translate
                                            }}"
                                            name="ZpkUnderZmk"
                                            formControlName="ZpkUnderZmk"
                                            [(ngModel)]="hsmZpkUnderZmk"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZPKLMK.ZPKKCV" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZPKLMK.ZPKKCV'
                                                    | translate
                                            }}"
                                            name="ZpkKcv"
                                            formControlName="ZpkKcv"
                                            [(ngModel)]="hsmZpkKcv"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
