<div
    id="translateZmkFromOldLmkToNewLmk"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{
                        "TRANSLATEZMK.TRANSLATEZMKFROMOLDLMKTONEWLMK"
                            | translate
                    }}
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="translateZmkFromOldLmkToNewLmkForm"
                    [formGroup]="translateZmkFromOldLmkToNewLmkForm"
                    class="translateZmkFromOldLmkToNewLmk w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab
                            label="{{
                                'TRANSLATEZMK.TRANSLATEZMKFROMOLDLMKTONEWLMKINFO'
                                    | translate
                            }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZMK.LMKZMKKEY" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZMK.LMKZMKKEY'
                                                    | translate
                                            }}"
                                            name="LmkZmkKey"
                                            formControlName="LmkZmkKey"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZMK.LMKIDENTIFIER"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZMK.LMKIDENTIFIER'
                                                    | translate
                                            }}"
                                            name="LmkIdentifier"
                                            formControlName="LmkIdentifier"
                                        />
                                    </mat-form-field>
                                </div>

                                <button
                                    style="margin-right: 10px"
                                    mat-raised-button
                                    class="save-translateZmkFromOldLmkToNewLmk-button"
                                    (click)="ClearButton()"
                                >
                                    <span>{{
                                        "TRANSLATEZMK.CLEAR" | translate
                                    }}</span>
                                </button>
                                <button
                                    mat-raised-button
                                    class="save-translateZmkFromOldLmkToNewLmk-button"
                                    (click)="
                                        TranslateZmkFromOldLmkToNewLmkButton()
                                    "
                                >
                                    <span>{{
                                        "TRANSLATEZMK.TRANSLATEZMK1" | translate
                                    }}</span>
                                </button>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                    style="margin-top: 60px"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZMK.HSMERRORCODE"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZMK.HSMERRORCODE'
                                                    | translate
                                            }}"
                                            name="HsmErrorCode"
                                            formControlName="HsmErrorCode"
                                            [(ngModel)]="generateHsmErrorCode"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZMK.HSMERRORDESCRIPTION"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZMK.HSMERRORDESCRIPTION'
                                                    | translate
                                            }}"
                                            name="HsmErrorDescription"
                                            formControlName="HsmErrorDescription"
                                            [(ngModel)]="
                                                generateHsmErrorDescription
                                            "
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEZMK.ZMKKEYUNDERLMK"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEZMK.ZMKKEYUNDERLMK'
                                                    | translate
                                            }}"
                                            name="ZmkKeyUnderLmk"
                                            formControlName="ZmkKeyUnderLmk"
                                            [(ngModel)]="hsmZmkKeyUnderLmk"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
