<div id="sendRawMessage" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "RAWMESSAGE.RAWMESSAGEDEFINITION" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="sendRawMessageForm"
                    [formGroup]="sendRawMessageForm"
                    class="sendRawMessage w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab
                            label="{{
                                'RAWMESSAGE.RAWMESSAGEINFO' | translate
                            }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-60-p"
                                >
                                    <mat-label>{{
                                        "RAWMESSAGE.LMKTYPE" | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="{{
                                            'RAWMESSAGE.LMKTYPE' | translate
                                        }}"
                                        name="LmkType"
                                        formControlName="LmkType"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-60-p"
                                >
                                    <mat-label>{{
                                        "RAWMESSAGE.HSMRAWHEXREQUEST"
                                            | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="{{
                                            'RAWMESSAGE.HSMRAWHEXREQUEST'
                                                | translate
                                        }}"
                                        name="HsmRawHexRequest"
                                        formControlName="HsmRawHexRequest"
                                    />
                                </mat-form-field>
                                <div class="button">
                                    <section>
                                        <div class="button-row">
                                            <button
                                                mat-raised-button
                                                color="basic"
                                                (click)="SendRawMessageButton()"
                                            >
                                                {{
                                                    "RAWMESSAGE.RAWMESSAGE"
                                                        | translate
                                                }}
                                            </button>
                                        </div>
                                    </section>
                                </div>
                                <div class="clear">
                                    <section>
                                        <div class="clear">
                                            <button
                                                mat-raised-button
                                                color="basic"
                                                (click)="ClearButton()"
                                            >
                                                {{
                                                    "RAWMESSAGE.CLEAR"
                                                        | translate
                                                }}
                                            </button>
                                        </div>
                                    </section>
                                </div>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-60-p"
                                >
                                    <mat-label>{{
                                        "RAWMESSAGE.HSMERRORCODE" | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="{{
                                            'RAWMESSAGE.HSMERRORCODE'
                                                | translate
                                        }}"
                                        name="HsmErrorCode"
                                        formControlName="HsmErrorCode"
                                        [(ngModel)]="generateHsmErrorCode"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-60-p"
                                >
                                    <mat-label>{{
                                        "RAWMESSAGE.HSMERRORDESCRIPTION"
                                            | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="{{
                                            'RAWMESSAGE.HSMERRORDESCRIPTION'
                                                | translate
                                        }}"
                                        name="HsmErrorDescription"
                                        formControlName="HsmErrorDescription"
                                        [(ngModel)]="
                                            generateHsmErrorDescription
                                        "
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-60-p"
                                >
                                    <mat-label>{{
                                        "RAWMESSAGE.HSMRAWHEXRESPONSE"
                                            | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="{{
                                            'RAWMESSAGE.HSMRAWHEXRESPONSE'
                                                | translate
                                        }}"
                                        name="HsmRawHexResponse"
                                        formControlName="HsmRawHexResponse"
                                        [(ngModel)]="rawHexResponse"
                                    />
                                </mat-form-field>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
