<div id="tripleDes" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "TRIPLEDES.TRIPLEDESDEFINITION" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="tripleDesForm"
                    [formGroup]="tripleDesForm"
                    class="tripleDes w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab
                            label="{{ 'TRIPLEDES.TRIPLEDESINFO' | translate }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRIPLEDES.ENCRYPTIONTYPE"
                                                | translate
                                        }}</mat-label>
                                        <mat-select
                                            name="EncryptionTypeId"
                                            formControlName="EncryptionTypeId"
                                            [(value)]="
                                                tripleDes.EncryptionTypeId
                                            "
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let tripleDes of encryptionType
                                                "
                                                [value]="tripleDes.Id"
                                            >
                                                {{ tripleDes.Description }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRIPLEDES.ENCRYPTIONMODE"
                                                | translate
                                        }}</mat-label>
                                        <mat-select
                                            name="EncryptionModeId"
                                            formControlName="EncryptionModeId"
                                            [(value)]="
                                                tripleDes.EncryptionModeId
                                            "
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let tripleDes of encryptionMode
                                                "
                                                [value]="tripleDes.Id"
                                            >
                                                {{ tripleDes.Description }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRIPLEDES.DATA" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRIPLEDES.DATA' | translate
                                            }}"
                                            name="Data"
                                            formControlName="Data"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRIPLEDES.KEY" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRIPLEDES.KEY' | translate
                                            }}"
                                            name="Key"
                                            formControlName="Key"
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRIPLEDES.IV" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRIPLEDES.IV' | translate
                                            }}"
                                            name="Iv"
                                            formControlName="Iv"
                                        />
                                    </mat-form-field>
                                </div>

                                <button
                                    style="margin-right: 10px"
                                    mat-raised-button
                                    class="save-tripleDes-button"
                                    (click)="ClearButton()"
                                >
                                    <span>{{
                                        "TRIPLEDES.CLEAR" | translate
                                    }}</span>
                                </button>
                                <button
                                    mat-raised-button
                                    class="save-tripleDes-button"
                                    (click)="TripleDesButton()"
                                >
                                    <span>{{
                                        "TRIPLEDES.TRIPLEDES" | translate
                                    }}</span>
                                </button>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                    style="margin-top: 60px"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRIPLEDES.RESULT" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRIPLEDES.RESULT' | translate
                                            }}"
                                            name="Result"
                                            formControlName="Result"
                                            [(ngModel)]="tripleDesResult"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
