<div
    id="translateKeyFromOldLmkToNewLmk"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{
                        "TRANSLATEKEYLMK.TRANSLATEKEYFROMOLDLMKTONEWLMK"
                            | translate
                    }}
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="translateKeyFromOldLmkToNewLmkForm"
                    [formGroup]="translateKeyFromOldLmkToNewLmkForm"
                    class="translateKeyFromOldLmkToNewLmk w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab
                            label="{{
                                'TRANSLATEKEYLMK.TRANSLATEKEYFROMOLDLMKTONEWLMKINFO'
                                    | translate
                            }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.KEYTYPECODE"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.KEYTYPECODE'
                                                    | translate
                                            }}"
                                            name="KeyTypeCode"
                                            formControlName="KeyTypeCode"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.KEYLENGTH"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.KEYLENGTH'
                                                    | translate
                                            }}"
                                            name="KeyLength"
                                            formControlName="KeyLength"
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.LMKKEY" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.LMKKEY'
                                                    | translate
                                            }}"
                                            name="LmkKey"
                                            formControlName="LmkKey"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.KEYTYPE"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.KEYTYPE'
                                                    | translate
                                            }}"
                                            name="KeyType"
                                            formControlName="KeyType"
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.LMKIDENTIFIER"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.LMKIDENTIFIER'
                                                    | translate
                                            }}"
                                            name="LmkIdentifier"
                                            formControlName="LmkIdentifier"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.KEYUSAGE"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.KEYUSAGE'
                                                    | translate
                                            }}"
                                            name="KeyUsage"
                                            formControlName="KeyUsage"
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.MODEOFUSE"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.MODEOFUSE'
                                                    | translate
                                            }}"
                                            name="ModeOfUse"
                                            formControlName="ModeOfUse"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.KEYVERSIONNUMBER"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.KEYVERSIONNUMBER'
                                                    | translate
                                            }}"
                                            name="KeyVersionNumber"
                                            formControlName="KeyVersionNumber"
                                        />
                                    </mat-form-field>
                                </div>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.EXPORTABILITY"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.EXPORTABILITY'
                                                    | translate
                                            }}"
                                            name="Exportability"
                                            formControlName="Exportability"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.NUMBEROFOPTIONALBLOCKS"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.NUMBEROFOPTIONALBLOCKS'
                                                    | translate
                                            }}"
                                            name="NumberOfOptionalBlocks"
                                            formControlName="NumberOfOptionalBlocks"
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.OPTIONALBLOCKS"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.OPTIONALBLOCKS'
                                                    | translate
                                            }}"
                                            name="OptionalBlocks"
                                            formControlName="OptionalBlocks"
                                        />
                                    </mat-form-field>
                                </div>

                                <button
                                    style="margin-right: 10px"
                                    mat-raised-button
                                    class="save-translateKeyFromOldLmkToNewLmk-button"
                                    (click)="ClearButton()"
                                >
                                    <span>{{
                                        "TRANSLATEKEYLMK.CLEAR" | translate
                                    }}</span>
                                </button>
                                <button
                                    mat-raised-button
                                    class="save-translateKeyFromOldLmkToNewLmk-button"
                                    (click)="
                                        TranslateKeyFromOldLmkToNewLmkButton()
                                    "
                                >
                                    <span>{{
                                        "TRANSLATEKEYLMK.TRANSLATEKEYLMK1"
                                            | translate
                                    }}</span>
                                </button>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                    style="margin-top: 60px"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.HSMERRORCODE"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.HSMERRORCODE'
                                                    | translate
                                            }}"
                                            name="HsmErrorCode"
                                            formControlName="HsmErrorCode"
                                            [(ngModel)]="generateHsmErrorCode"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.HSMERRORDESCRIPTION"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.HSMERRORDESCRIPTION'
                                                    | translate
                                            }}"
                                            name="HsmErrorDescription"
                                            formControlName="HsmErrorDescription"
                                            [(ngModel)]="
                                                generateHsmErrorDescription
                                            "
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEKEYLMK.KEYUNDERLMK"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEKEYLMK.KEYUNDERLMK'
                                                    | translate
                                            }}"
                                            name="KeyUnderLmk"
                                            formControlName="KeyUnderLmk"
                                            [(ngModel)]="hsmKeyUnderLmk"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
