<div
    id="translatePinLmkToZpk"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "TRANSLATEPINLMK.TRANSLATEPINLMKTOZPK" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="translatePinLmkToZpkForm"
                    [formGroup]="translatePinLmkToZpkForm"
                    class="translatePinLmkToZpk w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab
                            label="{{
                                'TRANSLATEPINLMK.TRANSLATEPINLMKTOZPKINFO'
                                    | translate
                            }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEPINLMK.ZPKUNDERLMK"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEPINLMK.ZPKUNDERLMK'
                                                    | translate
                                            }}"
                                            name="ZpkUnderLmk"
                                            formControlName="ZpkUnderLmk"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEPINLMK.CARDNUMBER"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEPINLMK.CARDNUMBER'
                                                    | translate
                                            }}"
                                            name="CardNumber"
                                            formControlName="CardNumber"
                                            (input)="formatCardNumber()"
                                        />
                                        <mat-icon matSuffix>
                                            <img
                                                style="height: 17px"
                                                src=""
                                                [src]="getCardTypeIcon()"
                                            />
                                        </mat-icon>
                                        <mat-error
                                            *ngIf="
                                                translatePinLmkToZpkForm.get(
                                                    'CardNumber'
                                                ).errors?.pattern
                                            "
                                        >
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEPINLMK.PINLMK" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEPINLMK.PINLMK'
                                                    | translate
                                            }}"
                                            name="PinLmk"
                                            formControlName="PinLmk"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEPINLMK.PINBLOCKFORMAT"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEPINLMK.PINBLOCKFORMAT'
                                                    | translate
                                            }}"
                                            name="PinBlockFormat"
                                            formControlName="PinBlockFormat"
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEPINLMK.LMKIDENTIFIER"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEPINLMK.LMKIDENTIFIER'
                                                    | translate
                                            }}"
                                            name="LmkIdentifier"
                                            formControlName="LmkIdentifier"
                                        />
                                    </mat-form-field>
                                </div>
                                <button
                                    style="margin-right: 10px"
                                    mat-raised-button
                                    class="save-translatePinLmkToZpk-button"
                                    (click)="ClearButton()"
                                >
                                    <span>{{
                                        "TRANSLATEPINLMK.CLEAR" | translate
                                    }}</span>
                                </button>
                                <button
                                    mat-raised-button
                                    class="save-translatePinLmkToZpk-button"
                                    (click)="TranslatePinLmk2ZpkButton()"
                                >
                                    <span>{{
                                        "TRANSLATEPINLMK.TRANSLATEPINLMKTOZPK1"
                                            | translate
                                    }}</span>
                                </button>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                    style="margin-top: 60px"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEPINLMK.HSMERRORCODE"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEPINLMK.HSMERRORCODE'
                                                    | translate
                                            }}"
                                            name="HsmErrorCode"
                                            formControlName="HsmErrorCode"
                                            [(ngModel)]="generateHsmErrorCode"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEPINLMK.HSMERRORDESCRIPTION"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEPINLMK.HSMERRORDESCRIPTION'
                                                    | translate
                                            }}"
                                            name="HsmErrorDescription"
                                            formControlName="HsmErrorDescription"
                                            [(ngModel)]="
                                                generateHsmErrorDescription
                                            "
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "TRANSLATEPINLMK.PINUNDERZPK"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'TRANSLATEPINLMK.PINUNDERZPK'
                                                    | translate
                                            }}"
                                            name="PinUnderZpk"
                                            formControlName="PinUnderZpk"
                                            [(ngModel)]="hsmPinUnderZpk"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
